
.calc-display {
  grid-area: display;

  border-radius: 4px;
  background: #202020;
  color: white;

  padding: 1em;
}

.main-display {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.top-display {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 1em;
  height: 1em;
}

.top-display p {
  margin: 0 0.5em;
}

.display-text {
  margin: 0;
  font-size: 3.5em;
  font-weight: 400;
}