
.card-footer {
  grid-area: footer;
  color: grey;
  display: flex;
  justify-content: space-between;
  padding: 0.6em 45% 0.6em 0;
}

.icon-counter-pair {
  display: flex;
  align-items: center;
  user-select: none;
}